.footer {
  background-color: rgb(192, 112, 124);
  padding: 73px 0 62px;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer__rights {
  font-size: 12px;
  font-family: Gilroy, sans-serif;
  color: rgb(227, 172, 180);
}

.social_network {
  text-align: center;
}

.social_network__text {
  font-size: 16px;
  font-family: Gilroy, sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
  width: 100%;
  /*align-items: flex-end;*/
}


.mobile {
  display: none;
}

.cls-1 {
  font-size: 18px;
  mix-blend-mode: luminosity;
  fill: #fff;
  font-family: Tavolga-Free, Tavolga, sans-serif;
  text-transform: uppercase;
}

.contacts {
  font-size: 16px;
  font-family: Myriad Pro, sans-serif;
  color: rgb(255, 255, 255);
  width: 236px;
  text-align: right;

  text-decoration: none;
}
