.burger {
  display: none;
}

.cls-1 {
  font-size: 18px;
  mix-blend-mode: luminosity;
  fill: #fff;
  font-family: Tavolga-Free, Tavolga, sans-serif;
  text-transform: uppercase;
}

.header {
  background-color: rgb(235, 168, 177);
}


.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}

.menu {
  width: 314px;
}

.menu__items {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.menu__link {
  text-decoration: none;
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  font-weight: bold;
  color: rgb(119, 11, 29);

  cursor: pointer;
}

.contacts {
  font-size: 16px;
  font-family: Myriad Pro, sans-serif;
  color: rgb(255, 255, 255);
  width: 236px;
  text-align: right;

  text-decoration: none;
}
.open {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

