





.present {
  padding: 123px 0 108px;
  background-color: rgb(235, 168, 177);

  overflow: hidden;
}

.present__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info__title {
  font-size: 55px;
  font-family: Tavolga, sans-serif;
  color: rgb(255, 255, 255);
}

.info__text {
  font-size: 18px;
  font-family: Tavolga, sans-serif;
  color: rgb(255, 255, 255);
  max-width: 344px;
  line-height: 1.8;

  z-index: 1000;
}

.info__action_button {
  position: relative;
  font-size: 18px;
  padding: 21px 42px;
  line-height: 1;

  z-index: 3000;
}

.present__img {
  position: relative;
}

.present__img-img {
  position: relative;
  z-index: 1;
}

.circle {
  position: absolute;
  top: calc(50% - 150px);
  right: calc(50% - 150px);
  z-index: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1px solid #821328;
  /*border: 0.1px solid #821328;*/
}

.circle-second {
  position: absolute;
  top: calc(50% - 130px);
  right: calc(50% - 130px);
  z-index: 0;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1px solid #821328;
  /*border: 0.1px solid #821328;*/
}


.main {
  padding-top: 120px;
  background-color: #feebeb;
  padding-bottom: 125px;
}

.advantages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 0.5fr) 1fr;
}

.advantages__title {
  padding-right: 115px;
  align-items: start;
  grid-column: 1/3;
  font-size: 45px;
  font-family: Tavolga, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.222;
  padding-bottom: 60px;
}

.advantages__text {
  padding-top: 35px;
  padding-right: 185px;
  grid-column: 1/3;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
}

.advantages__img {
  padding-left: 21px;
  grid-column: 3/5;
  grid-row: 1/3;
  margin-top: auto;
  margin-right: auto;
}

.advantages__items {
  grid-column: 1/5;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.advantage {
  padding-top: 89px;
  max-width: 220px;
  /*padding-top: 89px;*/
}

.advantage__title {
  font-size: 20px;
  font-family: Gilroy-Bold, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 24px;
}

.advantage__text {
  font-size: 15px;
  font-family: Gilroy, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.333;

}

.advantage__number {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(130, 19, 40);
  position: relative;


}

.advantage__span {
  font-size: 60px;
  font-family: Gilroy-Bold, sans-serif;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 14px;
  left: 20px;
}

.products {
  padding: 119px 0;
  background-color: rgb(235, 168, 177);
}

.products__title {
  /*margin-top: 119px;*/
  font-size: 45px;
  font-family: Tavolga, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.222;
  text-align: center;
}

.products__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;

}

.order {
  background-color: rgb(255, 239, 239);
  padding: 97px 0 120px;
}

.order__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.order__img {
  /*position: relative;*/
  /*text-align: center;*/
  /*margin-bottom: 0;*/
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

}

.order__strawberry_first,
.order__strawberry_second {
  position: absolute;
}

.order__strawberry_first {
  top: 75px;
  left: -25px;
}

.order__strawberry_second {
  right: 190px;
  top: 455px;
}

.order-create {
  max-width: 398px;
}

.order-create__title {
  font-size: 45px;
  font-family: Tavolga, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.222;
  text-align: left;
  margin-bottom: 42px;
}

.order-create__text {
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  text-align: left;
  font-weight: bold;
}

/*.order-form {*/
/*    display: grid;*/
/*    grid-gap: 15px;*/

/*}*/

.order-form__label {
  /*position: relative;*/
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  color: rgb(18, 10, 6);
  font-weight: bold;
  /*line-height: 4.444;*/
  text-align: left;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}

.order-form__text {
  font-family: Gilroy-Bold, sans-serif;
  display: flex;
  align-items: flex-end;
  padding-bottom: 7px;

}

.order-form__input {
  background-color: transparent;
  border-width: 1px;
  border-color: rgb(130, 19, 40);
  border-style: solid;
  border-radius: 30px;
  padding: 20px 0 20px 26px;
  max-width: 295px;
  font-size: 15px;
  font-family: Gilroy, sans-serif;
  color: rgb(118, 12, 34);
  outline: none;
}

.order-form__input::placeholder {
  font-size: 15px;
  font-family: Gilroy-Bold, sans-serif;
  color: rgb(118, 12, 34);
  font-weight: bold;
}

.order-form__submit {
  max-width: 294px;
  padding: 20px 20px;
  text-align: center;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
}



.present-ellipse {
  position: fixed;
  /*position: fixed;*/
  bottom: 30px;
  right: 30px;
  z-index: 1;
}

.ellipse {
  /*margin-left: calc(50% - 26.5px);*/
  /*margin-top: calc(50% - 26px);*/
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(130, 19, 40);
  background: rgba(130, 19, 40);
  width: 90px;
  height: 90px;
  /*cursor: pointer;*/

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipse img {
  max-width: 40%;
}

.ellipse:hover ~ .present-msg {
  transform: translateY(-50%);
  opacity: 1;
}

.present-msg {
  /*position: fixed;*/
  top: 50%;
  right: 110px;

  transform: translateY(200%);
  position: absolute;
  border: 2px solid rgba(119, 10, 29);
  background-color: rgb(254, 239, 238);
  border-radius: 10px;
  padding: 15px 10px;
  width: 170px;
  font-size: 15px;
  font-family: "Gilroy", sans-serif;
  color: rgb(119, 10, 29);

  transition: .5s;
  opacity: 0;
}

.present-msg:before {
  content: '';
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid rgba(119, 10, 29);
  border-right: 2px solid rgba(119, 10, 29);
  background-color: rgb(254, 239, 238);
  transform: rotate(45deg);
  top: 50%;
  right: -7px;
  margin-top: -5px;
}



.btn {
  font-family: Gilroy, sans-serif;
  color: rgb(255, 255, 255);
  /*background-image: linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);*/
  /*background-image: linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);*/
  background-image: linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);

  border-radius: 30px;

  border: none;
  cursor: pointer;
}

.present-count {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  border-image:  linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  border: 1px solid  rgb(113, 8, 30);

  display: flex;
  justify-content: center;
  align-items: center;

  color: #821328;

  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-size: 12px;

  position: absolute;
  top: 5px;
  right: 5px;
  right: 5px;
}

