<section class="present">
  <div class="container present__container">
    <div class="info">
      <div class="info__title">
        Мягкие французские
        пироженки Macaroons
      </div>
      <div class="info__text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>
      <div class="info__action">
        <button appButton class="btn info__action_button">
          Выбрать макарун
        </button>
      </div>
    </div>
    <div class="present__img">
      <img class="present__img-img" src="assets/img/macaroons.png" alt="">
      <div class="circle">
      </div>
      <div class="circle-second">
      </div>
    </div>
  </div>
</section>

<section class="main" id="about-us" #advantagesElement>
  <div class="container main__container">
    <div class="advantages">
      <div class="advantages__title">
        Мы печём для вас вкуснейшие макаруны уже более 10 лет
      </div>
      <div class="advantages__text">
        Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
        ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
        маргарина,
        разрыхлителей и улучшителей муки.
      </div>
      <div class="advantages__img">
        <img src="assets/img/macaroon-big.png" alt="">
      </div>
      <div class="advantages__items">
        <app-advantage class="advantage" *ngFor="let advantage of advantages" [advantage]="advantage">

        </app-advantage>
      </div>
    </div>
  </div>
</section>

<section class="products" id="macaroons" #ProductsElement>
  <div class="container products__container">
    <div class="products__title">
      Выберите свой макарун
    </div>
    <div class="products__items">
      <app-product class="product" *ngFor="let product of products" [product]="product"  (addToOrderEvent)="getOrder($event)">
      </app-product>
    </div>
  </div>
</section>


<section class="order" id="order" #orderElement>
  <div class="container order__container">
    <div class="order__img">
      <img src="assets/img/macaroon_pack.png" class="order__item" alt="">
    </div>
    <div class="order-create">
      <div class="order-create__title">
        Закажите макарун!
      </div>
      <div class="order-create__text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </div>
      <div class="order-form">

        <div class="order-form__label">
          <div class="order-form__text">

            Ваш выбор
          </div>
          <input [(ngModel)]="formFields.productTitle" type="text" placeholder="Напишите, что хотите заказать..."
                 class="order-form__input">
        </div>

        <div class="order-form__label">
          <div class="order-form__text">
            Заполните данные для заказа
          </div>
          <input [(ngModel)]="formFields.name" type="text" placeholder="Ваше имя" class="order-form__input">
          <input [(ngModel)]="formFields.phone" type="text" placeholder="+375 (__) ____-__-" class="order-form__input">
          <input type="submit" appButton value="Оформить заказ" class="btn order-form__submit">
        </div>
      </div>
    </div>
    <div class="order__strawberry_first">
      <img src="assets/img/strawberry1.png" alt="">
    </div>
    <div class="order__strawberry_second">
      <img src="assets/img/strawberry2.png" alt="">
    </div>
  </div>
</section>

<section class="present-ellipse" [style.display]="showCart ? 'block' : 'none'">
  <div class="ellipse">
    <img src="./assets/img/cart.png" alt="">
  </div>
  <div class="present-msg">
    {{this.price |currency: 'RUB': 'symbol-narrow'}}
  </div>

  <div class="present-count">
    {{cartServise.cartCount}}
  </div>
</section>
