@font-face {
  font-family: Tavolga;
  src: url(./assets/fonts/tavolga-free.ttf);
}

@font-face {
  font-family: Gilroy;
  src: url(./assets/fonts/gilroy-regular.ttf);
}

@font-face {
  font-family: Myriad Pro;
  src: url(./assets/fonts/myriadpro-semibold.otf) format("opentype");
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(./assets/fonts/gilroy-extrabold.otf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-family: Gilroy, sans-serif;
  color: rgb(255, 255, 255);
  background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);

  border-radius: 30px;

  border: none;
  cursor: pointer;
}


.menu__link:hover {
  border-bottom: 2px solid rgb(119, 11, 29);
}

.advantage:hover .advantage__number {
  animation: pointAdvantageNumber 0.1s linear forwards;
}

.advantage:hover .advantage__span {
  animation: pointAdvantageSpan 0.4s linear forwards;
}

@keyframes pointAdvantageNumber {
  from {
    background-color: rgb(130, 19, 40);
  }
  to {
    background-color: rgb(235, 168, 177);
  }
}

@keyframes pointAdvantageSpan {
  from {
    color: rgb(255, 255, 255);
  }
  to {
    color: #821328;
  }
}

.product:hover .product__img {
  animation: macaroonsScale 0.2s linear forwards;
}

@keyframes macaroonsScale {
  from {
    transform: translateX(-50%) scale(1);
  }
  to {
    transform: translateX(-50%) scale(1.2);
  }
}

.circle {
  animation: scaleCircle 3s cubic-bezier(.23, .45, .61, .55) infinite;
}

.circle-second {
  animation: scaleSecondCircle 3s cubic-bezier(.80, .25, .70, .55) infinite;
}

@keyframes scaleCircle {
  from {
    transform: scale(0.1);
    border: 0.5px solid #821328;
  }
  to {
    transform: scale(2.5);
    border-color: transparent;
  }
}

@keyframes scaleSecondCircle {
  from {
    transform: scale(0.1);
    border: 0.5px solid #821328;
  }
  to {
    transform: scale(2.6);
    border-color: transparent;
  }
}

.order__strawberry_first {
  animation: strawberryScale 2s linear infinite;
}

@keyframes strawberryScale {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);

  }
  100% {
    transform: translateY(10px);
  }
}

.order__strawberry_second {
  animation: strawberryScale 2.5s linear infinite;
}

@keyframes strawberryScale {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);

  }
  100% {
    transform: translateY(10px);
  }
}

.btn:hover {
  animation: btnBoxShadow 0.3s linear forwards;
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

@keyframes btnBoxShadow {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
  }
}

.ellipse:hover {
  animation: addBoxShadow 0.3s linear forwards;
}

@keyframes addBoxShadow {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 0 12.6px 2.4px rgba(130, 19, 40, 0.5);
  }
}

.ellipse:hover .present-msg {
  animation: showPresentForm 0.5s linear forwards;
}

/*.ellipse:hover .present-msg {*/
/*    animation: showPresentForm 0.3s linear forwards;*/
/*}*/

@keyframes showPresentForm {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}

@media screen and (max-width: 1145px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;

    /*overflow: hidden;*/
  }
}

@media screen and (max-width: 768px) {

  .container {
    padding-right: 15px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 426px) {

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
