@font-face {
  font-family: Tavolga;
  src: url(./assets/fonts/tavolga-free.ttf);
}

@font-face {
  font-family: Gilroy;
  src: url(./assets/fonts/gilroy-regular.ttf);
}

@font-face {
  font-family: Myriad Pro;
  src: url(./assets/fonts/myriadpro-semibold.otf) format("opentype");
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(./assets/fonts/gilroy-extrabold.otf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-family: Gilroy, sans-serif;
  color: rgb(255, 255, 255);
  background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);

  border-radius: 30px;

  border: none;
  cursor: pointer;
}


.menu__link:hover {
  border-bottom: 2px solid rgb(119, 11, 29);
}

.advantage:hover .advantage__number {
  animation: pointAdvantageNumber 0.1s linear forwards;
}

.advantage:hover .advantage__span {
  animation: pointAdvantageSpan 0.4s linear forwards;
}

@keyframes pointAdvantageNumber {
  from {
    background-color: rgb(130, 19, 40);
  }
  to {
    background-color: rgb(235, 168, 177);
  }
}

@keyframes pointAdvantageSpan {
  from {
    color: rgb(255, 255, 255);
  }
  to {
    color: #821328;
  }
}

.product:hover .product__img {
  animation: macaroonsScale 0.2s linear forwards;
}

@keyframes macaroonsScale {
  from {
    transform: translateX(-50%) scale(1);
  }
  to {
    transform: translateX(-50%) scale(1.2);
  }
}

.circle {
  animation: scaleCircle 3s cubic-bezier(.23, .45, .61, .55) infinite;
}

.circle-second {
  animation: scaleSecondCircle 3s cubic-bezier(.80, .25, .70, .55) infinite;
}

@keyframes scaleCircle {
  from {
    transform: scale(0.1);
    border: 0.5px solid #821328;
  }
  to {
    transform: scale(2.5);
    border-color: transparent;
  }
}

@keyframes scaleSecondCircle {
  from {
    transform: scale(0.1);
    border: 0.5px solid #821328;
  }
  to {
    transform: scale(2.6);
    border-color: transparent;
  }
}

.order__strawberry_first {
  animation: strawberryScale 2s linear infinite;
}

@keyframes strawberryScale {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);

  }
  100% {
    transform: translateY(10px);
  }
}

.order__strawberry_second {
  animation: strawberryScale 2.5s linear infinite;
}

@keyframes strawberryScale {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);

  }
  100% {
    transform: translateY(10px);
  }
}

.btn:hover {
  animation: btnBoxShadow 0.3s linear forwards;
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

@keyframes btnBoxShadow {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
  }
}

.ellipse:hover {
  animation: addBoxShadow 0.3s linear forwards;
}

@keyframes addBoxShadow {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 0 12.6px 2.4px rgba(130, 19, 40, 0.5);
  }
}

.ellipse:hover .present-msg {
  animation: showPresentForm 0.5s linear forwards;
}

/*.ellipse:hover .present-msg {*/
/*    animation: showPresentForm 0.3s linear forwards;*/
/*}*/

@keyframes showPresentForm {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}

@media screen and (max-width: 1145px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;

    /*overflow: hidden;*/
  }
}

@media screen and (max-width: 768px) {

  .container {
    padding-right: 15px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 426px) {

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 768px) {

  .header__container {
    justify-content: space-between;
    /*gap: 104px;*/
  }

  .header .contacts {
    display: none;
  }
}

@media screen and (max-width: 565px) {
  .menu {
    display: none;
  }

  .burger {
    display: block;
  }
}

@media screen and (max-width: 426px) {
  .header__container {
    justify-content: space-between;
  }


  .menu {
    display: none;

    position: fixed;
    width: 100%;
    height: 100%;

    max-width: 425px;
    max-height: 100%;

    z-index: 10000;

    margin: 0;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
  }

  .burger {
    display: block;
    width: 40px;

  }

  .open {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .menu__items {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu__item {
    padding-bottom: 20px;

  }

  .menu__link {
    color: white;
    font-size: 18px;
  }
}

@media screen and (max-width: 375px) {
  .menu {
    max-width: 375px;
  }
}

@media screen and (max-width: 320px) {

  .menu {
    max-width: 320px;
  }
}

@media screen and (max-width: 426px) {
  .footer {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .footer__container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    padding: 0;
  }

  .footer__info {
    text-align: center;
    grid-row: 1;
    padding-top: 20px;
  }

  .social_network {
    grid-row: 2;
    padding-top: 20px;

  }

  .footer__contacts {
    text-align: center;
    grid-row: 3;
    padding-top: 20px;

  }

  .order-form__input {
    max-width: 345px;
  }

  .order-form__submit {
    max-width: 345px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    text-align: center;
    display: block;
  }

  .footer__rights.mobile, .footer__contacts.mobile {
    padding-top: 39px;
  }

  .social_network {
    padding-top: 0;
  }

  .social_network__logo {
    padding-top: 40px;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 1145px) {

  .advantages {

    /*text-align: center;*/
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .advantages__title {
    text-align: center;
    grid-row: 1;
    grid-column: 1;
    padding-right: 50px;
    padding-left: 50px;

  }

  .advantages__text {
    text-align: center;
    padding-top: 0;
    grid-row: 2;
    grid-column: 1;
    padding-right: 50px;
    padding-left: 50px;
  }

  .advantages__img {
    margin: 0 auto;
    /*grid-column: 3/5;*/
    grid-row: 3/5;
    grid-column: 1;
  }


  .advantage {
    margin: 0 auto;
  }

  /*.product__img {*/
  /*    left: 22px;*/
  /*}*/

  .order__strawberry_second {
    right: 99px;
    top: 455px;
  }

  .order__strawberry_first {
    top: 0;
    left: 19px;
  }
}
@media screen and (max-width: 1000px) {
  .products__items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    /*grid-template-columns: repeat(2, 1fr);*/
    /*grid-template-rows: repeat(2, 1fr);*/
    justify-content: center;
  }
}


@media screen and (max-width: 875px) {
  .present__img {
    position: absolute;
    margin-left: auto;
    top: 324px;
    left: calc(301px - 20px);
  }
  .present {
    padding: 123px 0 156px;
  }
}
@media screen and (max-width: 820px) {
  .present__img {
    position: absolute;
    margin-left: auto;
    top: 371px;
    left: calc(264px - 20px);
  }

  .present {
    padding: 123px 0 206px;
  }
}

@media screen and (max-width: 782px) {
  .present__img {
    top: 448px;
    left: calc(243px - 20px);
  }

  .present {
    padding: 100px 15px 325px;
  }
}

@media screen and (max-width: 768px) {

  .container {
    padding-right: 15px;
    padding-left: 20px;
  }

  .present {
    padding-bottom: 20px;
    padding-top: 70px;
  }

  .present__container {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
  }

  .info {
    padding-bottom: 420px;
  }

  .info__title {
    padding-bottom: 73px;
  }

  .info__text {
    padding-bottom: 43px;
  }

  .present__img {
    position: absolute;
    margin-left: auto;
    top: 311px;
    left: calc(184px - 20px);
  }

  .advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantages__title {
    max-width: 543px;
    padding-left: 0;
    padding-right: 0;
  }

  .advantages__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 66px;
    /*text-align: center;*/
  }

  .advantages__text {
    padding-left: 30px;
    padding-right: 25px;
    padding-bottom: 40px;
  }

  .advantages__img img {
    max-width: 302px;
  }

  .advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantage__text {
    text-align: center;
    /*font-size: 15px;*/
  }



  .product {
    /*margin: 142px auto 0;*/
    margin: 136px 0 0;

    width: 280px;
  }

  .order__container {
    display: flex;
  }

  .order__img {
    /*margin-left: -100px;*/
    /*grid-column: 2/3;*/
    /*grid-row: 1/2;*/
    position: absolute;
    top: calc(358px - 97px);
    left: calc(418px - 20px);
  }

  .order__img img {
    max-width: 325px;
  }

  .order-create {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  /*.product__img {*/
  /*    left: 51px;*/
  /*}*/

  .order__strawberry_first {
    top: calc(337px - 97px);
    left: calc(372px - 20px);
  }

  .order__strawberry_second {
    left: calc(610px - 20px);
    top: calc(231px - 97px);
  }

  .order-form__submit {
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 730px) {
  .order__img img {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .present__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .present__img {
    max-width: 430px;
    position: relative;
    /* top: 100px; */
    /* display: none; */
    top: 0;
    left: 0;
    margin-left: 0;
  }

  .present__img img {
    max-width: 430px;
  }

  .info {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 640px) {
  .order__strawberry_second {
    left: calc(537px - 20px);
    top: calc(231px - 97px);
  }
}
@media screen and (max-width: 565px) {
  .order__strawberry_second {
    left: calc(437px - 20px);
    top: calc(231px - 97px);
  }
}
@media screen and (max-width: 470px) {
  .order__strawberry_second {
    display: none;
  }
  .advantage__title {
    font-size: 18px;

  }
}

@media screen and (max-width: 426px) {


  .present__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .info {
    align-items: center;
    padding-bottom: 38px;
  }

  .info__title {
    font-size: 32px;
    font-family: Tavolga, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 40px;
  }

  .info__text {
    font-size: 16px;
    text-align: center;
    padding-bottom: 40px;

  }

  .present__img {
    max-width: 250px;
    position: relative;
    /*top: 100px;*/
    /*display: none;*/
    top: 0;
    left: 0;
    margin-left: 0;
  }

  .present__img img {
    max-width: 250px;
  }

  .advantages__items {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
  }

  .advantages {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .products__items {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .advantages__img {
    /*display: none;*/
    padding-bottom: 60px;
  }

  .advantages__title {
    grid-row: 1;
    grid-column: 1;
    font-size: 30px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 40px;

  }

  .advantages__text {
    grid-row: 2;
    grid-column: 1;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 59px;
  }

  .advantages__items {
    gap: 20px;
  }

  .advantage {
    padding-top: 20px;
    margin: 0;

    max-width: 176px;
  }

  .advantage__text {
    font-size: 13px;
  }

  .main {
    padding-bottom: 100px;
  }


  .products {
    padding: 100px 0;
  }

  .products__title {
    font-size: 30px;
  }

  .product {
    margin-top: 122px;
  }

  .order-create__title {
    font-size: 30px;
  }

  .order__img {
    display: none;
  }

  .order__container {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
  }

  .order__strawberry_first {
    top: 0;
    left: 270px;
  }

  .order__strawberry_second {
    display: none;
  }

}
@media screen and (max-width: 375px) {

  .advantages__items {
    justify-content: center;
  }

  .advantage__title {
    text-align: center;
  }

  .advantage {
    max-width: 158px;
  }


  .order__strawberry_first {
    top: 128px;

    left: unset;
    right: 15px
  }


  .advantages__img img {
    max-width: 155px;
  }

  .order-create__text {
    font-size: 16px;
  }

  .order-form__input {
    max-width: 285px;
  }

  .order-form__submit {
    max-width: 285px;
  }
}

@media screen and (max-width: 320px) {
  .advantages__items {
    justify-content: center;
  }
  .advantages__img img {
    max-width: 255px;
  }

  .advantage {
    max-width: 255px;
  }


  /*.order-form__input {*/
  /*    max-width: 285px;*/
  /*}*/

  /*.order-form__submit {*/
  /*    max-width: 285px;*/
  /*}*/

  .order__strawberry_first {
    top: 128px;
    left: 215px;
  }
}
